/* RESET ALL OR ADD ALL */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
     font-family: "Roboto", sans-serif;
     font-style: normal;
     font-weight: normal;
     line-height: 18px;
}

/* START CODING */

body {
    background-color: #E5E5E5;
}

.container {
    width: 375px;
    background-color: #F4F4F4;
    margin: 0 auto;
    margin-top: 100px;
}

header {
    background-color: #1B83E2;
    height: 66px;
}

h1 {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 18px;
    color: #F4F4F4;
    text-align: center;
    padding-top: 25px;
}

label {
    font-size: 14px;
    color: #777777;
    line-height: 18px;

}

select {
    background: #FFFFFF;
    border: 1px solid #BBBBBB;
    height: 48px;
    display: block;
    width: 100%;
    cursor: pointer;
    outline: none;
    appearance: none;
    padding-left: 16px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
    margin-top: 6px;
    margin-bottom: 24px;
}

input {
    background: #ffffff00;
    border: 1px solid #bbbbbb;
    border-radius: 25px;
    cursor: pointer;
    color: #f4f4f4;
    font-style: normal;
    border: none;
    width: 100%;
    margin-top: 24px;
    margin-bottom: 36px;
    border-radius: 4px;
    height: 48px;
    display: block;
    padding-left: 16px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);

}

button {
    background:  #2196F3;;
    border-radius: 25px;
    height: 48px;
cursor: pointer;
color: #f4f4f4;
font-size: 16px;
border: none;
width: 100%;
margin-top: 24px;
margin-bottom: 36px;
}


button:hover {
    opacity: 0.9;
}

button:active {
    opacity: 0.7;
}

main {
    padding: 24px;

}

section {
    border: 1px solid #1b83e2;
    border-radius: 4px;
}

.currency-container {
    text-align: center;
    padding: 10px;
}

.currency-name {
        margin-top: 8px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
        font-size: 14px;
            color: #7777;
                flex-direction: column-reverse;
}

.currency-value {
       color: #1b83e2;
    font-weight: bold;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    margin-top: 6px;
    flex-direction: column-reverse;
}

.arrow-img {
          margin-left: auto;
    margin-right: auto;
    align-items: center;
    display: flex;
    margin-top: 28px;
    margin-bottom: 29px;
}


.image1 {
        margin-top: 26px;
    display: flex;
     margin-left: auto;
    margin-right: auto;
    align-items: center;
    display: flex;
}

/* RESPONSIVIDADE */

@media (max-width: 668px) {


}

/* THAT WAS LAST PROJECT, I MADE THAT FOR HELP PEOPLE IN MOZAMBIQUE EXCHANGE THEIR MONEY,
THIS SISTEM USE LIVE EXCHANGE RATE, SO THEY CAN TRUSH  THE SISTEM BECAUSE WE ARE WORKING
FOR CREATE A BEST SOLUTION FOR EVERBODY THANK YOU ALL CREATE A BEST SOLUTION FOR ALL AND ALL*/

/* YESTARDAY I SEND MESSAGE FOR A CUSTOMER HE WAS ASKING FOR HELP AND HE SAID CAN PAY ME 100R$ 
0101010101010101010101010101010101010101010101010101010101010101010101010101010101010101001010
01010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010
010101010101010101010010101010101010101010101010101010101010101010101010101010101010101010101010
*/
